# options from official sample+manual
# https://github.com/pixelfed/pixelfed/blob/dev/.env.example
# https://docs.pixelfed.org/technical-documentation/env.html

APP_NAME="Pixelfed"
APP_ENV=production
APP_KEY=123456789A123456789B123456789C12
APP_DEBUG=false

APP_URL=http://pixelfed.example.com
APP_DOMAIN=pixelfed.example.com
ADMIN_DOMAIN=pixelfed.example.com
SESSION_DOMAIN=pixelfed.example.com
TRUST_PROXIES="*"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
#DB_CONNECTION=pgsql
DB_HOST=mysql
DB_PORT=3306
#DB_PORT=5432
DB_DATABASE=pixelfed
DB_USERNAME=pixelfed
DB_PASSWORD=pixelfedpassword

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=redis

REDIS_SCHEME=tcp
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mail.example.com
MAIL_PORT=587
MAIL_USERNAME=user@example.com
MAIL_PASSWORD=emailpassword
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="pixelfed@example.com"
MAIL_FROM_NAME="Pixelfed"

OPEN_REGISTRATION=false
ENFORCE_EMAIL_VERIFICATION=true
PF_MAX_USERS=100

MAX_PHOTO_SIZE=15000
MAX_CAPTION_LENGTH=300
MAX_ALBUM_LENGTH=8

ACTIVITY_PUB=false
AP_REMOTE_FOLLOW=false
AP_INBOX=false
PF_COSTAR_ENABLED=true

# options from testing sample
# https://github.com/pixelfed/pixelfed/blob/dev/.env.testing

ACTIVITYPUB_INBOX=false
ACTIVITYPUB_SHAREDINBOX=false
REMOTE_FOLLOW=false

CS_BLOCKED_DOMAINS='example.org,example.net'
CS_CW_DOMAINS='example.org,example.net'
CS_UNLISTED_DOMAINS='example.org,example.net'

# other options from docs
# https://docs.pixelfed.org/running-pixelfed/installation.html#configure-environment-variables

IMAGE_DRIVER=imagick

OAUTH_ENABLED=true

# other options from other sources

# https://github.com/pixelfed/pixelfed/issues/1509
SESSION_SECURE_COOKIE=true
MAX_ACCOUNT_SIZE=1000000

# https://github.com/pixelfed/pixelfed/issues/1522
MAX_BIO_LENGTH=300
MAX_NAME_LENGTH=25

IMAGE_QUALITY=80

STORIES_ENABLED=true

