version: '3.7'

services:
  app:
    image: mplx/pixelfed:master
    networks:
      - internal
      - proxy
    env_file:
      - ./pixelfed.env
    volumes:
      - ./data:/home/project/pixelfed/storage
    deploy:
      replicas: 1
      labels:
        - "traefik.port=8000"
        - "traefik.backend=pixelfed"
        - "traefik.frontend.rule=Host:pixelfed.example.com"
        - "traefik.enable=true"
        - "traefik.frontend.entryPoints=https"
        - "traefik.docker.network=proxy"
        - "traefik.backend.loadbalancer.method=drr"

  mysql:
    image: mysql:5.7
    networks:
      - internal
    env_file: ./mysql.env
    volumes:
      - ./mysql:/var/lib/mysql

  redis:
    image: redis:6-alpine
    networks:
      - internal
    volumes:
      - ./redis:/data

networks:
  proxy:
    external: true
  internal:
